@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Nunito');
/*
@font-face {
  font-family: 'AzoSans';
  src: url('/assets/fonts/AzoSans/AzoSans-Bold.woff2') format('woff2'),
  url('/assets/fonts/AzoSans/AzoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AzoSans';
  src: url('/assets/fonts/AzoSans/AzoSans-Regular.woff2') format('woff2'),
  url('/assets/fonts/AzoSans/AzoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}*/
